{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="alert alert-info" role="alert">List my own properties</div> 
<table class="table table-bordered table-hover">
	<thead >
            <tr class="info">
                <th>Type </th>
                <th>Property name</th>
                <th>Announced date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
	</thead>
	<tbody>
		{% for a in contacts %}
			<tr>
				<td>{{a.prop_type}}</td>
				<td>{{a.title}}</td>
				<td>{{a.created}}</td>

				{% if a.status == 1 %}
					<td><a href="{% url 'listings:deactiveProperty' prop_id=a.id %}" ><button class="btn-danger btn"> Deactivate </button> </a></td>
				{% elif a.status == 0 %}
					<td><a href="{% url 'listings:activeProperty' prop_id=a.id %}" ><button class="btn-success btn"> Activate </button> </a></td>
				{% endif %}

				<td> <a href="{% url 'listings:editproperty' prop_id=a.id %}" ><button class="btn-success btn"> Edit </button> </a>
                     <a href="{% url 'listings:deleteProperty' prop_id=a.id %}" ><button class="btn-danger btn"> Delete </button> </a>

                </td>
			</tr>	
		
		{% endfor %}





	</tbody>


</table>

        <div class="pagination col-sm-12">
            <span class="step-links col-sm-offset-6">
                {% if contacts.has_previous %}
                    <a href="?page={{ contacts.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                    </span>
                    {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


{% endblock content %}
