<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <title>{% block head_title %} Aqarmap {% endblock head_title %} </title>
    <style type="text/css">
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:relative;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    {% block js %} {% endblock js %}
</head>

<body bgcolor="#25383C">
<div id="container">

    <div id="header">
<!-- Header -->
      <nav class="navbar navbar-default">
                     <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">AQAR MAP ITI</a>
                    </div>
                         <ul class="nav navbar-nav">
                              <li class="active"><a href="#">Home</a></li>
                               <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Property
                                        <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                              <li><a href="#">Add New Property</a></li>
                                              <li><a href="properties/propertiesforsale">List Your Properties for sale</a></li>
                                              <li><a href="#">List Your Properties for rent</a></li>
                                              <li><a href="#">List All Your Properties</a></li>
                                            </ul>
                                            </li>


                              <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects
                                        <span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                              <li><a href="#">Add New Project</a></li>
                                              <li><a href="#">List All Your Projects</a></li>
                                            </ul>
                                            </li>


                              <li><a href="#">Profile</a></li>
                              <li><a href="{% url 'subscribtions:sub_results' %}">Subscribtions Results</a></li>
                         </ul>
                    <ul class="nav navbar-nav navbar-right">
    
                    <!-- Search Box -->
                        
                    <!-- Endo Of search -->
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                        </ul>

                    </div>
                </nav>
</div>
<!-- Header Navvvvvvv -->

<!-- Body -->
<div id="body">
    <div class="container">
        {% block content %} 

        {% endblock content %}
    </div>
</div>    
<!-- End of body -->
 
<!-- Footer -->
 <div id="footer">
 <footer>
     <nav class="navbar navbar-default">
                     <h1 align="center">AQAR MAP ITI</h1>
                     <p align="center">Contact information: aqarmapiti@ymail.com</p>
                                   </nav>
    
      

 </footer>
</div>
<!-- End of Footer -->
</div>    
</body>

</html>
